<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OHRM Suite">

<!-- <listeners>
    <listener class-name = "selenium.com.qa.ohrm.tests.ListnersTest"></listener>
    </listeners> -->
 <test name = "Login OHRM">
  <classes>
  <class name = "selenium.com.qa.ohrm.tests.BaseTest"/>
    <class name = "selenium.com.qa.ohrm.tests.LoginTest"/>
    <class name = "selenium.com.qa.ohrm.tests.HomeTest"/>
  </classes>
 </test>

</suite>